<h3><%= board.escape("title") %></h3>

<ul class="lists-list"></ul>

<form class="" action="index.html" method="post">

</form>
<a href="#boards">Back to Boards</a>
<button type="button" class="board-delete-button">Delete</button>
